* {
    margin: 0;
    padding: 0;
    /*box-sizing: content-box;*/

}

body {
    border: 1px solid black;
    width: 1280px;
    height: 722px;
}

nav {
    width: 1280px;
    height: 80px;
    background: darkslategray;
    color: white;
    text-align: center;
    position: relative;
}

nav ul {
    position: absolute;
    top: 50%;
    text-align: center;
    list-style: none;
    transform: translate(0%, -50%);
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    width: 300px;
}

.link {
    width: 200px;
}

.sesion {
    float: right;
}


.link:hover {
    background-color: #111;
}

/*Navbar vertical*/
#navVertical {
    width: 300px;
    overflow: hidden;
    height: 640px;
    background-color: grey;
    float: left;
}

#navVertical ul {
    color: black;
    width: 300px;
}

#navVertical ul li {
    border-bottom: 1px solid black;
}

#navVertical li a {
    display: block;
    width: 260px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    color: black;
    /* arriba | derecha | abajo | izquierda */
    padding: 10px 20px 0 20px;
}

#navVertical li:hover {
    background-color: lightblue;
}


/*Formulario*/

#formulario {
    float: left;
    margin-left: 80px;
    margin-top: 60px;
    width: 618px;
    /*Comparado con el boceto, hay 30px menos porque en la foto he puesto un margin left de 30px*/
    height: 459px;
    background-color: lightblue;
    padding: 50px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 8px 5px 5px gray;
}

#formulario h1 {
    margin-bottom: 40px;
}

#formulario div {
    margin-bottom: 25px;
}

#formulario input,
#formulario select {
    border: 0;
    width: 150px;
    height: 20px;
    border-radius: 4px;
}

#formulario label {
    margin-left: 10px;
    display: inline-block;
    width: 100px;
}

#formulario textarea {
    margin-left: 10px;
}

#formulario p {
    margin-bottom: 5px;
}

#botones {
    float: right;
}

#botones input,
#botones button {
    width: 100px;
    height: 30px;
    border-style: none;
    border-radius: 3px;
    background-color: gray;
}

#botones input {
    background-color: green;
}

/*Div Imagen*/

#imagenF {
    float: left;
    margin-top: 60px;
    margin-left: 30px;
    background: lightpink;
    width: 150px;
    height: 150px;
}