* {
    margin: 0;
    padding: 0;
    /*box-sizing: content-box;*/

}

body {
    width: 100%;
    /*1280px*/
    height: auto;
    /*722px*/
    min-width: 400px;
}


/*
* NAVBAR
*/
nav {
    width: 100%;
    /*1280px*/
    height: 11.0803324099723vh;
    /*80px*/
    background: darkslategray;
    color: white;
    text-align: center;
    position: relative;
}

nav ul {
    position: absolute;
    top: 50%;
    text-align: center;
    list-style: none;
    transform: translate(0%, -50%);
    width: 100%;
}

nav ul li {
    float: left;
    width: 15.625%;
    /*  200px*100 / 1280px */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    /* arriba y abajo | izquierda y derecha */
    /*padding: 14px 16px;*/
    padding-top: 1.9390581717451523vh;
    padding-bottom: 1.9390581717451523vh;
    /*14px*100 / 722px*/
    padding-left: 8%;
    padding-right: 8%;
    /*16px *100 / 200px*/
    text-decoration: none;
}

.lilogo {
    width: 23.4375%;
    /*   300px*100 / 1280px    */
}

.logo {
    width: 89.33333333333333%;
    /*   268px*100 / 300px   */
    padding-left: 5.333333333333333%;
    padding-right: 5.333333333333333%;
    /*16px *100 / 300px*/
}

.link {
    width: 84%;
    /*   168px*100 / 200px   */
}

.sesion {
    float: right;
}


.link:hover {
    background-color: #111;
}

/*
*Navbar vertical
*/
#navVertical {
    width: 23.4375%;
    /*   300px*100 / 1280px    */
    overflow: hidden;
    height: 88.6426592797784vh;
    /*640px*100 / 722px*/
    background-color: grey;
    float: left;
}

#navVertical ul {
    color: black;
    width: 100%;
    /*300px es el 100% de la caja*/
}

#navVertical ul li {
    border-bottom: 1px solid black;
}

#navVertical li a {
    display: block;
    width: 86.66666666666667%;
    /*  260px*100  /  300px  */
    height: 8.310249307479225vh;
    /*60px*100 / 722px*/
    text-decoration: none;
    text-align: center;
    color: black;

    /*padding: 10px 20px 0 20px;*/
    /* arriba | derecha | abajo | izquierda */
    padding-top: 1.3850415512465375vh;
    /*10px *100 / 722px*/
    padding-right: 6.666666666666667%;
    /* 20px *100  /  300px*/
    padding-left: 6.666666666666667%;
    /* 20px *100  /  300px*/

}

#navVertical li:hover {
    background-color: lightblue;
}

/*
*Formulario
*/

#formulario {
    float: left;
    margin-left: 6.25%;
    /*   80px*100 / 1280px   */
    margin-top: 8.310249307479225vh;
    /*60px;*/
    width: 48.28125%;
    /*   618px*100 / 1280px   */
    /*Comparado con el boceto, hay 30px menos porque en la foto he puesto un margin left de 30px*/
    height: 63.57340720221607vh;
    /*459px;*/
    background-color: lightblue;
    padding: 50px;
    /*ojo*/
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 8px 5px 5px gray;
}

#formulario h1 {
    margin-bottom: 5.54016620498615vh;
    /*40px;*/
}

#formulario div {
    margin-bottom: 3.4626038781163433vh;
    /*25px;*/
}

#formulario input,
#formulario select {
    border: 0;
    width: 24.27184466019417%;
    /*150px*100 / 618px*/
    height: 2.770083102493075vh;
    /*20px*100 / 722px*/
    border-radius: 4px;
}

#formulario label {
    margin-left: 1.618122977346278%;
    /*10px*100 / 618px*/
    display: inline-block;
    width: 16.18122977346278%;
    /*100px*100 / 618px*/
}

#formulario textarea {
    margin-left: 1.618122977346278%;
    /*10px*100 / 618px*/
}

#formulario p {
    margin-bottom: 0.6925207756232687vh;
    /*5px*100 / 722px*/
}

#botones {
    float: right;
    width: 204px;
}

#botones input,
#botones button {
    width: 49.01960784313725%;
    /*100px*100 / 204px*/
    height: 4.1551246537396125vh;
    /*30px*100 / 722px*/
    border-style: none;
    border-radius: 3px;
    background-color: gray;
}

#botones input {
    background-color: green;
}

/*
*Div Imagen
*/

#imagenF {
    float: left;
    margin-top: 8.310249307479225vh;
    /*60px*100 / 722px*/
    margin-left: 2.34375%;
    /*30px*100 / 1280px*/
    background: lightpink;
    width: 11.71875%;
    /*150px*100 / 1280px*/
    height: 20.775623268698062vh;
    /*150px*100 / 722px*/
}

/*
* MEDIAS QUERY'S
*/

/*Para que la imagen no se caiga, se empieza a caer un poco por debajo de 1300px*/
@media (max-width: 1300px) {
    #navVertical {
        height: auto;
    }

    #formulario {
        width: 40%;
        height: auto;
    }

    #formulario textarea {
        width: 80%;
    }

    #imagenF img {
        width: 80%;
    }
}

/*
*TABLET
*/
@media (max-width:700px) {
    #imagenF {
        display: none;
    }

    #formulario {
        margin: 2%;
        width: 56%;

    }

    #formulario label {
        width: 100%;

    }

    #formulario input,
    #formulario select {
        width: 80%;

    }

    #botones {
        float: right;
        width: 100%;
    }

    #botones input,
    #botones button {
        width: 49%;

    }

    #botones input {
        background-color: green;
    }
}

/*
* MOVIL
*/

@media (max-width:640px) {

    /*Copio el estilo de la navbar horizontal a la navbar vertical*/
    #navVertical {
        width: 100%;
        height: 11.0803324099723vh;
        text-align: center;
        position: relative;
    }

    #navVertical ul {
        position: absolute;
        top: 50%;
        text-align: center;
        list-style: none;
        transform: translate(0%, -50%);
        width: 100%;
    }

    #navVertical ul li {
        float: left;
        width: 14.28571428571429%;
    }

    #navVertical li a {
        display: block;
        color: white;
        text-align: center;
        padding-top: 1.9390581717451523vh;
        padding-bottom: 1.9390581717451523vh;
        padding-left: 8%;
        padding-right: 8%;
        text-decoration: none;
    }

    #navVertical li:hover {
        background-color: lightblue;
    }

   
    #formulario{
        width: 80%;
        margin: 0;
        margin-top: 1vh;
    }
    
    #formulario input,
    #formulario select {
        width: 100%;

    }
    #formulario textarea{
        width: 100%;
    }
    #botones input,
    #botones button {
        width: 100%;
        margin-bottom: 1vh;
    }
}